body {
    margin: 20px;
}

.row button {
    margin: auto;
}

.row {
    margin: 20px;
}

.nav {}

#nav-login-register {
    width: 500px;
    margin: 0 auto;
}

#data-login-register {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
